#main {
    width: 706px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left {
    color: #333;
    display: block;
    margin: auto;
    position: relative;
    float: left;
}

#login:checked+label {
    background: #00ad45;
    border-right: 1px solid #000;
    color: #fff;
}

#login {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 33px 20px;
    position: relative;
    width: 168px;
    z-index: 100;
    text-align: center;


    background: #00ad45;
    border-right: 1px solid #000;
    color: #fff;

}

#register {
    background: #fff;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 33px 20px;
    position: relative;
    width: 168px;
    z-index: 100;
    color: #111;
    text-align: center;
}

#forget {
    background: #fff;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding: 33px 20px;
    position: relative;
    width: 168px;
    z-index: 100;
    color: #111;
    text-align: center;
}

#login_page {
    width: 538px;
    background: #fff;
    padding: 2em;
    display: block;
    margin: 0;
    position: relative;
    float: left;
    box-sizing: border-box;
}

#loginHere { 
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.2em;
    font-weight: 400;
}

#userName {
    margin-bottom: 1em;
    padding: 13px 0px 13px 40px;
    border: 1px solid #eee;
    background: #eee;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 91%;
}

#imgUser {
    position: relative;
}

#second {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 1px 8px;
    color: #aaa;
    width: 25px;

}

#password {
    margin-bottom: 1em;
    padding: 13px 0px 13px 40px;
    border: 1px solid #eee;
    background: #eee;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 91%;
}

#imgPassword {
    position: relative;
}

#third {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 1px 8px;
    color: #aaa;
    width: 25px;

}


#submit {
    margin: 2.3em auto 0;
    background: #00ad45;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s all;
    display: block;
    color: #fff;
    padding: 14px 30px;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
}

#fourth {
    width: 30px;
}

#fifth {
    width: 30px;
}

#sixth {
    width: 30px;
}