#main {
    width: 54vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#left {
    color: #333;
    display: block;
    margin: 0;
    position: relative;
    float: left;
    height: 32.8vh;
}

#login:checked+label {
    background: #00ad45;
    border-right: 1px solid #000;
    color: #fff;
}

#login {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
    padding: 3vh 1.48vw;
    position: relative;
    width: 12.3vw;
    z-index: 100;
    text-align: center;
    height: 5vh;


    background: #00ad45;
    border-right: 1px solid #000;
    color: #fff;

}

#register {
    background: #fff;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
    padding: 3vh 1.48vw;
    position: relative;
    width: 12.3vw;
    z-index: 100;
    color: #111;
    text-align: center;
}

#forget {
    height: 5vh;
    background: #fff;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
    padding: 3vh 1.48vw;
    position: relative;
    width: 12.3vw;
    z-index: 100;
    color: #111;
    text-align: center;
}

#login_page {
    width: 39vw;
    height: 33vh;
    background: #fff;
    padding: 2.8vh 2vw;
    display: block;
    margin: 0;
    position: relative;
    float: left;
    box-sizing: border-box;
}

#loginHere { 
    color: #000;
    font-size: 2.4vh;
    text-align: center;
    margin-bottom: 2.8vh;
    font-weight: 400;
}

#userName {
    margin-bottom: 1.4vh;
    padding: 1.3vh 0vw 1.3vh 3vw;
    border: 1px solid #eee;
    background: #eee;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 91%;
}

#imgUser {
    position: relative;
}

#second {
    position: absolute;
    left: 0;
    top: 0.8vh;
    padding: 0.5vh 0.6vw;
    color: #aaa;
    width: 1.75vw;

}

#password {
    margin-bottom: 1.4vh;
    padding: 1.3vh 0vw 1.3vh 3vw;
    border: 1px solid #eee;
    background: #eee;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 91%;
}

#imgPassword {
    position: relative;
}

#third {
    position: absolute;
    left: 0;
    top: 0.8vh;
    padding: 0.5vh 0.6vw;
    color: #aaa;
    width: 1.75vw;

}


#submit {
    margin: 2.6vh 0 0 0;
    background: #00ad45;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.5s all;
    display: block;
    color: #fff;
    padding: 1.4vh 2.4vw;
    border-radius: 0;
    font-size: 1.5vh;
    letter-spacing: 0.1vw;
    width: 100%;
}

#fourth {
    width: 2vw;
}

#fifth {
    width: 2vw;
}

#sixth {
    width: 2vw;
}