#app {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

#bgImg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
}

#heading {
  color: brown;
  font-size: 38px;
  font-weight: bolder;
  position: relative;
}